{% extends 'admin-nav.html' %}
{% block content %}
{% load static %}
	<div class="wrapper">
		<div class="row">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3 class='text-center'>
							Tasks
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						
<div class="wrap">
    <div class="flex-container float-left">
        {% for i in obj1 %}
        {% if i.task_status == 100 %}
        <div class="flex-item ">
            <div class="counter ">
               
                <div class="progress">
                    <div class="progress-bar progress-bar-success progress-bar-striped rounded-circle active" role="progressbar"
                    aria-valuenow=" {{ i.task_status }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ i.task_status }}%">
                
                    </div>
                  </div>
                 
                <h4>{{ i.task_name }} </h4>
                <h6>{{ i.assign_member }}</h6>
               
                <h6>{{ i.start_date }} to {{ i.end_date }}</h6>

									
            </div>
            
        </div>
        {% elif i.task_status > 50 %}
        <div class="flex-item ">
            <div class="counter ">
                <div class="progress">
                    <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                    aria-valuenow=" {{ i.task_status }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ i.task_status }}%">
                
                    </div>
                  </div>
                  
                    
                  <h4>{{ i.task_name }} </h4>
                  <h6>{{ i.assign_member }}</h6>
                 
                  <h6>{{ i.start_date }} to {{ i.end_date }}</h6>
  
                    
            </div>
            
        </div>
        {% else %}
        <div class="flex-item ">
            <div class="counter ">
                <div class="progress">
                    <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                    aria-valuenow=" {{ i.task_status }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ i.task_status }}%">
                
                    </div>
                  </div>
                  <h4>{{ i.task_name }} </h4>
                  <h6>{{ i.assign_member }}</h6>
                 
                  <h6>{{ i.start_date }} to {{ i.end_date }}</h6>
  
                      
            </div>
            
        </div>
        {% endif %}
        {% endfor %}
      
      </div>
</div>
					</div>
				</div>
			</div>
			<div class="col-4 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header text-center">
						<h3>
								Update Task
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<!-- start of form -->
                   <form action="{% url 'updatetask' %}" method="POST" id='myForm'>
                    {% csrf_token %}
                   
                     
                <!-- start of model -->
              {%  for i in obj2 %}
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Task<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="text" class="form-control" id="task" name='task'  value="{{i}}" readonly>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Task details<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="text" class="form-control" name='task_details'  value="{{i.task_details}}" required>
                          </div>
                    </div>
                </div>
                
                <div class="row">
                       <div class="col-6 text-center">
                     <h4>Assigned to<span class="text-danger">*</span> </h4>
                       </div>
                       <div class="col-6 ">
                        <div class="form-group">
                            <select class="form-select form-control" name="member_name" aria-label="Default select example">
                            <option selected>{{ i.assign_member }}</option>
                            {% for j in obj %}
                            <option value="{{j}}">{{j}}</option>
                            {% endfor %}
                          </select> 
                       </div>
                       </div>
                   </div>
                <!-- end of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Start Date<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="date" class="form-control" id="startdate" name='startdate' value="{{i.start_date|date:"Y-m-d" }}" required>
                          </div>
                    </div>
                </div>
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>End date<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="date" class="form-control" id="enddate" value="{{i.end_date|date:"Y-m-d" }}" name='enddate'  required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <div class="row">
                <div class="container bg-light">
                    <div class="col-md-9 text-center">
					&nbsp&nbsp&nbsp&nbsp&nbsp
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-primary text-center">Submit</button>
                        <button type="button" onclick="myFunction()" class="btn btn-primary text-center">Reset</button>
                      
                    </div>
				</div>
				</div>

                {% endfor %}
                <!-- end of model -->
            </form>
					</div>
				</div>
			</div>
		</div>
		
	</div>
    <script>
    var cssId = 'myCss';  // you could encode the css path itself to generate id..
if (!document.getElementById(cssId))
{
        var head  = document.getElementsByTagName('head')[0];
        var link  = document.createElement('link');
        link.id   = cssId;
        link.rel  = 'stylesheet';
        link.type = 'text/css';
        link.href = "{% static 'css/task.css' %}";
        link.media = 'all';
        head.appendChild(link);
}
    
</script>
	<!-- end main content -->
	{% endblock %}