<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>ATPro Admin</title>

	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="icon" type="image/png" href="{% static 'assets/AT-pro-logo.png'%}"/>

	<!-- Import lib -->
    <link rel="stylesheet" href="{% static 'css/login.css'%}">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
	<link rel="stylesheet" type="text/css" href="{%static 'fontawesome-free/css/all.min.css'%}">
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
	<!-- End import lib -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body class="overlay-scrollbar">
	<!-- navbar -->
	<div class="navbar">
		<!-- nav left -->
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link">
					<i class="fas fa-bars" onclick="collapseSidebar()"></i>
				</a>
			</li>
			<li class="nav-item">
			<h3><b>2017BIT011</b></h3>
				{% comment %} <img src="{% static 'assets/AT-pro-black.png'%}" alt="ATPro logo" class="logo logo-light">
				<img src="{% static 'assets/AT-pro-white.png'%}" alt="ATPro logo" class="logo logo-dark"> {% endcomment %}
			</li>
		</ul>
		<!-- end nav left -->
		<!-- form -->
		{% comment %} <form class="navbar-search">
			<input type="text" name="Search" class="navbar-search-input" placeholder="What you looking for...">
			<i class="fas fa-search"></i>
		</form> {% endcomment %}
		<!-- end form -->
		<!-- nav right -->
		<ul class="navbar-nav nav-right">
			<li class="nav-item mode">
				<a class="nav-link" href="#" onclick="switchTheme()">
					<i class="fas fa-moon dark-icon"></i>
					<i class="fas fa-sun light-icon"></i>
				</a>
			</li>
			
			<li class="nav-item avt-wrapper">
				<div class="avt dropdown">
					<img src="{{request.user.profile_pic.url}}" alt="User image" class="dropdown-toggle" data-toggle="user-menu">
					<ul id="user-menu" class="dropdown-menu">
						<li  class="dropdown-menu-item">
							<a href="{% url 'profile' %}" class="dropdown-menu-link">
								<div>
									<i class="fas fa-user-tie"></i><span>Profile</span>
								</div>
								
							</a>
						</li>
						<li class="dropdown-menu-item">
							<a href="{% url 'change_password' %}" class="dropdown-menu-link">
								<div>
									<i class="fas fa-cog"></i><span>Change Password</span>
								</div>
								
							</a>
						</li>
						
						
						<li  class="dropdown-menu-item">
							<a href="{% url 'logout_view' %}" class="dropdown-menu-link">
								<div>
									<i class="fas fa-sign-out-alt"></i><span>Logout</span>
								</div>
								
							</a>
						</li>
					</ul>
				</div>
			</li>
		</ul>
		<!-- end nav right -->
	</div>
	<!-- end navbar -->
	<!-- sidebar -->
{% if request.user.position == 'admin'%}
	<div class="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="{% url 'index' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
					<span>
						Dashboard
					</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="{% url 'employee-trans' %}" class="sidebar-nav-link ">
					<div>
						<i class="fab fa-accusoft"></i>
					</div>
					<span>New emploee</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'employees' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-tasks"></i>
					</div>
					<span>Employess</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'project' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span>Project</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'teams' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-check-circle"></i>
					</div>
					<span>Teams</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'leaveadmin' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-bug"></i>
					</div>
					<span>Leave applications</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'designation' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-chart-line"></i>
					</div>
					<span>Designations</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'schedule' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-book-open"></i>
					</div>
					<span>Schedules</span>
				</a>
			</li>

		</ul>
	</div>
	<!-- end sidebar -->
	{% comment %} Team leader  {% endcomment %}
	{% elif request.user.position == 'Team leader' %}
		<div class="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="{% url 'index' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
					<span>
						Dashboard
					</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="{% url 'task'%}" class="sidebar-nav-link ">
					<div>
						<i class="fab fa-accusoft"></i>
					</div>
					<span>Task</span>
				</a>
			</li>
			
			<li  class="sidebar-nav-item">
				<a href="{% url 'taskassigned'%}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span>My Task</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'leaderteam' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-check-circle"></i>
					</div>
					<span>Team</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'leaveleader' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-bug"></i>
					</div>
					<span>Leave applications</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	{% elif request.user.position == 'Team member' or request.user.position == "employee"%}
	<div class="sidebar">
		<ul class="sidebar-nav">
			<li class="sidebar-nav-item">
				<a href="{% url 'index' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-tachometer-alt"></i>
					</div>
					<span>
						Dashboard
					</span>
				</a>
			</li>
			<li class="sidebar-nav-item">
				<a href="{% url 'taskassigned'%}" class="sidebar-nav-link ">
					<div>
						<i class="fab fa-accusoft"></i>
					</div>
					<span>Task</span>
				</a>
			</li>
			
			<li  class="sidebar-nav-item">
				<a href="#" class="sidebar-nav-link">
					<div>
						<i class="fas fa-spinner"></i>
					</div>
					<span>abc</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'teammember' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-check-circle"></i>
					</div>
					<span>Team</span>
				</a>
			</li>
			<li  class="sidebar-nav-item">
				<a href="{% url 'leavemember' %}" class="sidebar-nav-link">
					<div>
						<i class="fas fa-bug"></i>
					</div>
					<span>Leave applications</span>
				</a>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	{% endif %}
	<script>
		function alertfunction(){
			{% if smessage %}
			alert('{{ message }}')
			{% endif %}
		}
	</script>
  {% block content %}
  
 {% endblock %}
 
	<!-- import script -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="{% static 'js/index.js' %}"></script>
	<!-- end import script -->
</body>
</html>

<script>
    function myFunction() {
        document.getElementById("myForm").reset();
        }
</script>
<script>
	setTimeout(function(){
		if($('#msg').length>0){
			$('#msg').remove();
		}
	},8000)
</script>