{% extends 'admin-nav.html' %}
{% block content %}


	<div class="wrapper">
	
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header text-center">
						<h3>
								Change Password
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<!-- start of form -->
                   <form action="{% url 'pass_change' %}" method="POST" id='myForm'>
                    {% csrf_token %}
                <div class="row">
                    <div class="col-6 text-center">
                       <h4> New Password<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="password" class="form-control" id="project_name" name='confpass'  placeholder="enter new password" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Confirm Password<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="password" class="form-control" name='newpass'  placeholder="confirm password" required>
                          </div>
                    </div>
                </div>
                
                <!-- end of model -->
                <div class="row">
                <div class="container bg-light">
                    <div class="col-md-9 text-center">
					&nbsp&nbsp&nbsp&nbsp&nbsp
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" onclick="myFunction()" class="btn btn-primary">Reset</button>
                    </div>
				</div>
				</div>
                <!-- end of model -->
            </form>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<!-- end main content -->
	{% endblock %}