{% extends 'admin-nav.html' %}
{% block content %}
	<div class="wrapper">
		<div class="row">
        <div class="col-8 col-m-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3>
                        Add User
                    </h3>
                    <i class="fas fa-ellipsis-h"></i>
                </div>
                <div class="card-content">
                   
                   <!-- start of form -->
                   
                   <form action="{% url 'updateemp' %}" method="POST" id='myForm'>
                    {% csrf_token %}
                   <!-- start of model -->
                   <div class="row">
                       <div class="col-6 text-center">
                     <h4>First Name<span class="text-danger">*</span> </h4>
                       </div>
                       <div class="col-6 ">
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" name='fname' value="{{i.first_name}}"  placeholder="Enter Firstname" required>
                             </div>
                       </div>
                   </div>
                   <!-- end of model -->
                      <!-- start of model -->
                   <div class="row">
                    <div class="col-6 text-center">
                       <h4>Last Name<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="text" class="form-control" id="lname" name='lname' value="{{i.last_name}}" placeholder="Enter Lastname" required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Email<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="email" class="form-control" id="email" name='email' value="{{i.email}}" placeholder="Enter Email" required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Date-of-birth<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="date" class="form-control" id="dob" name='dob' value='{{i.birth_date}}' placeholder="Enter date-of-birth" required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Gender<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                        <select class="form-select form-control" name="schedule" value="{{i.schedule}}"aria-label="Default select example">
                            <option selected>{{i.gender}}</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Transgender">Transgender</option>
                            </select> 
                    </div>
                </div>
                </div>
                <!-- end of model -->
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Phone number<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="tel" class="form-control" id="contact" value="{{i.contact}}" name='contact' pattern="[0-9]{10}" placeholder="Enter Phonenumber" required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Designation<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                        <select class="form-select form-control" name='designation' value="{{i.designation}}"aria-label="Default select example">
                            <option selected>{{ i.designation}}</option>
                            {% for j in obj1 %}
                            <option value="{{ j.designation}}">{{ j.designation}}</option>
                            {% endfor %}
                          </select>                       
                    </div>
                    </div>
                </div>
                <!-- end of model -->
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Rate per day<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="number" class="form-control" name="rateperday" value="{{i.Rate_per_day}}"  placeholder="Enter rate per day" required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Alloted leave<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="number" class="form-control" name="alloted_leave" value="{{i.alloted_leave}}" placeholder="Enter alloted leave" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Schedule<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                        <select class="form-select form-control" name="schedule" value="{{i.schedule}}"aria-label="Default select example">
                            <option selected>{{i.schedule}}}</option>
                            {% for k in obj2 %}
                            <option value="{{ k.intime}} - {{k.outtime}}">{{ k.intime}} - {{k.outtime}}</option>
                            {% endfor %}
                          </select> 
                        </div>
                    </div>
                </div>
                <div class="container bg-light">
                    <div class="col-md-9 text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" onclick="myFunction()" class="btn btn-primary">Reset</button>
                    </div>
                </div>
                <!-- end of model -->
            </form>
           
			</div>
			
	<!-- end main content -->
	{% endblock %}