{% extends 'admin-nav.html' %}
{% block content %}
<style>
	.slidecontainer {
	  width: 100%; 
	}
	
	/* The slider itself */
	.slider {
	  -webkit-appearance: none;  /* Override default CSS styles */
	  appearance: none;
	  width: 100%; /* Full-width */
	  height: 25px; /* Specified height */
	  background: #d3d3d3; /* Grey background */
	  outline: none; /* Remove outline */
	  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
	  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
	  transition: opacity .2s;
	}
	.slider:hover {
	  opacity: 1; /* Fully shown on mouse-over */
	}
	
	/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
	.slider::-webkit-slider-thumb {
	  -webkit-appearance: none; /* Override default look */
	  appearance: none;
	  width: 25px; /* Set a specific slider handle width */
	  height: 25px; /* Slider handle height */
	  background: #4CAF50; /* Green background */
	  cursor: pointer; /* Cursor on hover */
	}
	
	.slider::-moz-range-thumb {
	  width: 25px; /* Set a specific slider handle width */
	  height: 25px; /* Slider handle height */
	  background: #4CAF50; /* Green background */
	  cursor: pointer; /* Cursor on hover */
	}
	</style>
{% if request.user.position == 'admin'%}
	<!-- main content -->
	<div class="wrapper">
		<div class="row">
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-warning">
					<p>
						<i class="fas fa-spinner"></i>
					</p>
					<h3>{{c}}</h3>
					<p>In progress </p>
				</div>
			</div>
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-success">
					<p>
						<i class="fas fa-check-circle"></i>
					</p>
					<h3>{{a}}</h3>
					<p>Completed</p>
				</div>
			</div> 
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-danger">
					<p>
						<i class="fas fa-bug"></i>
					</p>
					<h3>{{b}}</h3>
					<p>Pending</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Projects
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									
									<th>Project</th>
									<th>Details</th>
									<th>Assigned team</th>
									<th>Status</th>
									<th>Due date</th>
								</tr>
							</thead>
							<tbody>
								
								{% for i in obj3 %}
									{% if i.proj_status == 100 %}
									<tr>

									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}</td>
									<td>{{i.assigned_to}}</td>
									<td>
										<span class="dot">
											<i class="bg-success"></i>
											Completed
										</span>
									</td>
									<td>{{i.end_date}}</td>
									</tr>
									{% elif  i.proj_status > 0 %}
								<tr>
								
									
									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}t</td>
									<td>{{i.assigned_to}}</td>
									<td>
										<span class="dot">
											<i class="bg-warning"></i>
											In progress
										</span>
									</td>
									<td>{{i.end_date}}</td>
								</tr>
								{%else %}
								<tr>
									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}t</td>
									<td>{{i.assigned_to}}</td>
									<td>
										<span class="dot">
											<i class="bg-primary"></i>
											Pending
										</span>
									</td>
									<td>{{i.end_date}}</td>
								</tr>
								 {% endif %}
								 {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-4 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header text-center">
						<h3>
								PROJECT
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<!-- start of form -->
                   <form action="{% url 'addproject' %}" method="POST" id='myForm'>
                    {% csrf_token %}
                   
                     
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Project_name<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="text" class="form-control" id="project_name" name='proj_name'  placeholder="enter project_name" required>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Project description<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="text" class="form-control" name='proj_description'  placeholder="enter project_name" required>
                          </div>
                    </div>
                </div>
                
                <div class="row">
                       <div class="col-6 text-center">
                     <h4>Assigned to<span class="text-danger">*</span> </h4>
                       </div>
                       <div class="col-6 ">
                        <div class="form-group">
                            <select class="form-select form-control" name="team_name" aria-label="Default select example">
                            <option selected>select member email</option>
                            {% for i in obj %}
                            <option value="{{i}}">{{i}}</option>
                            {% endfor %}
                          </select> 
                       </div>
                       </div>
                   </div>
                <!-- end of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>Start Date<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="date" class="form-control" id="startdate" name='startdate' required>
                          </div>
                    </div>
                </div>
                <!-- start of model -->
                <div class="row">
                    <div class="col-6 text-center">
                       <h4>End date<span class="text-danger">*</span> </h4>
                    </div>
                    <div class="col-6 ">
                     <div class="form-group">
                         <input type="date" class="form-control" id="enddate" name='enddate'  required>
                          </div>
                    </div>
                </div>
                <!-- end of model -->
                <div class="row">
                <div class="container bg-light">
                    <div class="col-md-9 text-center">
					&nbsp&nbsp&nbsp&nbsp&nbsp
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
						&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="button" onclick="myFunction()" class="btn btn-primary">Reset</button>
                    </div>
				</div>
				</div>
                <!-- end of model -->
            </form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Chartjs
						</h3>
					</div>
					<div class="card-content">
						<canvas id="myChart"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% comment %} Team leader index {% endcomment %}
	{% elif request.user.position == 'Team leader' %}
	<div class="wrapper">
		<div class="row">
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-warning">
					<p>
						<i class="fas fa-spinner"></i>
					</p>
					<h3>100+</h3>
					<p>In progress </p>
				</div>
			</div>
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-success">
					<p>
						<i class="fas fa-check-circle"></i>
					</p>
					<h3>100+</h3>
					<p>Completed</p>
				</div>
			</div> 
			<div class="col-4 col-m-6 col-sm-6">
				<div class="counter bg-danger">
					<p>
						<i class="fas fa-bug"></i>
					</p>
					<h3>100+</h3>
					<p>Issues</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-8 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header">
						<h3>
							Project
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<table>
							<thead>
								<tr>
									
									<th>Project</th>
									<th>Details</th>
									<th>Status</th>
									<th>Due date</th>
								</tr>
							</thead>
							<tbody>
								
								{% for i in obj2 %}
									{% if i.proj_status == 100 %}
									<tr>

									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}t</td>
									<td>
										<span class="dot">
											<i class="bg-success"></i>
											Completed
										</span>
									</td>
									<td>{{i.end_date}}</td>
									</tr>
									{% elif  i.proj_status > 0 %}
								<tr>
								
									
									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}t</td>
									<td>
										<span class="dot">
											<i class="bg-warning"></i>
											In progress
										</span>
									</td>
									<td>{{i.end_date}}</td>
								</tr>
								{%else %}
								<tr>
									<td>{{i.proj_name}}</td>
									<td>{{i.Proj_description}}t</td>
									<td>
										<span class="dot">
											<i class="bg-primary"></i>
											Pending
										</span>
									</td>
									<td>{{i.end_date}}</td>
								</tr>
								 {% endif %}
								 {% endfor %}
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-4 col-m-12 col-sm-12">
				<div class="card">
					<div class="card-header text-center">
						<h3>
								PROJECT
						</h3>
						<i class="fas fa-ellipsis-h"></i>
					</div>
					<div class="card-content">
						<!-- start of form -->
					{%for i in obj1%}
					{%if i.proj_status < 100 %}
					<div class="row ">
						<div class="col-12 text-center">
						<h2>{{i.proj_name}}</h2>
					</div>
					</div>
					<div class="row ">
						<div class="col-12 text-center">
						<h4>{{i.Proj_description}}</h4>
					</div>
					</div>
					<div class="row ">
						<div class="col-12 text-center">
						<h4>{{i.start_date}}</h4>
					</div>
					</div>
					<div class="row ">
						<div class="col-6 text-center text-danger">
							<h4>Deadline</h4>
						</div>
						<div class="col-6 text-center">
						<h4>{{i.start_date}}</h4>
					</div>
					</div>



					<form action="{% url 'updateprojstatus' pk=i.proj_name %}" method="POST">
						{% csrf_token %}
						
					   <div class="slidecontainer col-12 center">
					   
						 <input type="range" min="1" max="100" value="{{i.proj_status}}" class="slider" name="status" id="myRange">
						 </div>
	 
						  <div class="col-md-12 text-center">
						  <button type="submit" class="btn btn-primary text-center">Submit</button>
					   </div>
					   
						 
	 
					   </form>
					  	
					   {%endif%}
					   {% endfor %}
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	{% endif %} 

	<!-- end main content -->
	{% endblock %}